   /* .form-container {
    margin-left: 20px; 
    max-width: 400px; 
}

.form-container h2 {
    color: #007bff; 
    margin-bottom: 20px; 
}

.btn-back {
    background-color: #6c757d; 
    color: #fff; 
    border: none; 
} */
.navbar {
    background-color: rgb(63, 105, 190); 
}

.navbar-nav .nav-link i {
    color:black ;
   
}

.navbar-nav .nav-link:hover i,a:hover {
    color: blue; 
   
}

.navbar-brand {
    margin-left: 20px;
}

.navbar-nav {
    display: flex; 
    align-items: center; 
}

.navbar-nav .nav-item {
    margin-right: 10px;
} */
/* .active { */
    /* font-weight: bold;  */
    /* Mettre en gras l'élément actif */
/* } */
/* ------------------------ */
body {
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat; 
}
.card-body,.card,table{
    background-color: rgba(244, 246, 247 , 0.9);
    width: 100%;
    height: auto;
}

.col-md-8 .card{
    margin: 50px;

}
/* Example in styles.css */
.sidebar {
    background-color: rgb(63, 105, 190); 
    /* Replace with your desired color */
}
/*@media (max-width: 768px) {
    .sidebar {
        background-color: blue;  Replace #yourColor with the hex code of the color you want 
    }
}*/
/* .header { */
    /* background-color: #fff; */
     /* This sets the background color to white */
/* } */
/* /////////////////////////////// */
body {
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat; 
}
table{
    background-color: rgba(244, 246, 247 , 0.9);
    width: 100%;
    height: auto;
}

.col-md-8 .card{
    margin: 50px;

}
.content-wrapper {
    background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/*  */




.search-bar input[type="search"] {
    border: none;
    padding: 10px 15px;
    width: calc(100% - 40px);
}

.search-bar input[type="search"]::placeholder {
    color: #999;
}

.search-bar button {
    border: none;
    background-color: #007bff; 
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3; 
}

